.outer-container {
    width: 80%;
    position: absolute;
    max-width: 600px;
    left: 50%;
    top: 5%;
  }

.animation-container{
   width:80% ;
   height: 150px;
   left: 50%;
   top: 5%;
   position: absolute;
}  
  
  button.accordion {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }
  
  button.accordion:after {
    font-family: FontAwesome;
    content: "\f150";
    font-family: "fontawesome";
    font-size: 18px;
    float: right;
  }
  
  button.accordion.is-open:after {
    content: "\f151";
  }
  
  button.accordion:hover,
  button.accordion.is-open {
    background-color: #ddd;
  }
  
  .accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  input {
    display: block;
    width: 200px;
    margin: auto;
  }
  
  output {
    text-align: center;
    
    padding-top: 15px;
  }