.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    margin-bottom: 24px;
  }

  input[data-switch] {
    display: none
  }

  input[data-switch]+label {
    width: 40px;
    height: 20px;
    background-color: #f1f3fa;
    background-image: none;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px solid #dee2e6;
    display: inline-block;
    text-align: center;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
  }

  input[data-switch]+label:before {
    color: #313a46;
    content: attr(data-off-label);
    display: block;
    font-family: inherit;
    font-weight: 600;
    font-size: .75rem;
    line-height: 24px;
    position: absolute;
    right: 3px;
    margin: 0 .21667rem;
    top: 0;
    text-align: center;
    min-width: 1.66667rem;
    overflow: hidden;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
  }

  input[data-switch]+label:after {
    content: '';
    position: absolute;
    left: 4px;
    background-color: #adb5bd;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2rem;
    height: 13px;
    width: 13px;
    top: 2.5px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
  }

  input[data-switch]:checked+label {
    background-color: #727cf5
  }

  input[data-switch]:checked+label:before {
    color: #fff;
    content: attr(data-on-label);
    right: auto;
    left: 4px
  }

  input[data-switch]:checked+label:after {
    left: 18px;
    background-color: #f1f3fa
  }

  input[data-switch=bool]+label {
    background-color: #fa5c7c
  }

  input:disabled+label {
    opacity: .5;
    cursor: default
  }

  .offcanvas-header {
    background: #313a46;
    height: 70px;
    padding: 27px 25px;
  }

  .offcanvas-title {
    color: #fff;
  }

  .btn-close-white {
    opacity: 1;
    font-size: 15px;
  }

  .offcanvas-start {
    width: 351px;
  }

  .save-selection {
    width: 100%;
    border-radius: .15rem;
    box-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);
    background-color: #727cf5;
    border-color: #727cf5;
  }

  .save-selection:hover {
    background-color: #6169d0 !important;
  }

  .offcanvas-body {
    background: #f7f9fb;
  }

  .grab-icon {
    cursor: move;
  }


  .personalized__order>.cmp-container {
    display: flex;
    flex-direction: column;
  }

  .hide-xf {
    display: none;
  }

  .p-button {
    border-radius: .15rem;
    background-color: #0071a4 !important;
    border-color: #0071a4;
    font-family: "Avenir Next LT Pro Bold";
    color: #fff !important;
  }

  .p-button:hover {

    background-color: #0071a4 !important;
    color: #fff;

  }
  .download_pdf, .send_email {
    display: none;
  }
  .button-compact {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 12px;
    color: white;
    background: #0071e3;
   }
   .personalized-links{
	font-weight: 400;
    font-size: 12px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
   }
	.personalized-links > li{
		margin-left: 8px;

    }

    .personalized-links > li > .nav-link{

        color: #fff;
    }


	.personalize-button > div {
		align-items: center;
    }

    .personalize-button h4{
		 color: #fff;
         font-size: 21px;
    }



  @media print {

    #feedback_button,
    #new-jc-footer,
    .personalize-button,
    .header,
    .hide-xf{
      display: none;
    }
  }