html{
    scroll-behavior:smooth ;    
}

body{
    margin:0;
    padding: 0;
}

#s1{
    background-color: rgb(128, 9, 144);
    min-height: 100vh;
}
h1{
    font-size: 50px;
 text-align: center ;
}


.img-container{
    z-index: 20;
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.sachet{
    width:500px;
    display: block;
    z-index: 10;
}

#b1{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-left: 30vw;
}

#b1:hover{
    color: red;
}



#s2{
    background-color: black;
    height: 80vh;
}

#s3{
    background-color: mistyrose;
    height: 100vh;
}